$experion-red: #DC143B;

$dark-theme-bg-bgcolor: #101212;
$dark-theme-bg-textcolor: #FEFEFE;
$dark-theme-bg-menu-textcolor: #E3FCF9;

$dark-theme-inner-bgcolor: #2C2C2C;
$dark-theme-inner-headcolor: #FEFEFE;
$dark-theme-inner-lightcard-textcolor:#FEFEFE;
$dark-theme-inner-lightcard-cardcolor:#101212;
$dark-theme-inner-darkcard-textcolor:#FEFEFE;
$dark-theme-inner-darkcard-cardcolor:#101212;

@mixin flex-row{
    display:flex;
    flex-direction:row;
}

@mixin flex-column{
    display:flex;
    flex-direction:column;
}

.topPerformer{
    font-family: 'Poppins';
    color: $dark-theme-inner-headcolor;
    background-color:$dark-theme-inner-bgcolor; 
    @include flex-column();
    .mainTitle{
        align-items: center;
    }
    .content{
        @include flex-row();
        justify-content: space-between;
        padding :10px;
        .cards{
            // background-color:$dark-theme-inner-lightcard-cardcolor;
            @include flex-column();
            justify-content: space-between;
            padding:10px;
            border-radius: 11px;
            .list-item{
                @include flex-row();
            }
            .titles{
                font-size: 16px;
                text-align:center;
            }
        }

        img{
            border-radius: 50%;
            width: 150px;
            height:150px;
            padding:10px;
        }
        
    }
}



// testing

.employee{
background-color: red;
}